<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../assets/css/contact.css">
</head>
<body>
    <header>
        <h1>Restaurant KEA</h1>
    </header>
    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./food_menu.html">Menu</a></li>
            <li><a href="./contact.html" class="active">Contact</a></li>
        </ul>
    </nav>
    <main>
        <section class="contact_info">
            <address>
                <p>
                    Guldbergsgade 29N 2200 Copenhagen
                </p>
                <p>
                    Phone no.: <a href="tel:20825370">20 82 53 70</a>
                </p>
                <p>
                    E-mail: <a href="mailto:info@restaurantkea.dk">info@restaurantkea.dk</a>
                </p>
            </address>
            <img class="map" src="../img/map.jpg" alt="">
        </section>
        <form class="contact_form" action="mailto:info@restaurantkea.dk" method="post">
            <fieldset>
                <legend>Contact form</legend>
                <div>
                    <label for="full_name">Full Name</label>
                    <input type="text" name="input_full_name" class="full_name" required>
                </div>
                <div>
                    <label for="phone_number">Phone no.</label>
                    <input type="text" name="input_phone_number" class="phone_number" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="input_email" class="email" required>
                </div>
                <div>
                    <label for="persons">Persons</label>
                    <input type="number" name="input_persons" class="persons" value="2" max="50" required>
                </div>
                <div>
                    <label for="date_time">Date and time</label>
                    <input type="datetime-local" name="input_date_time" class="date_time" required>
                </div>
                <div>
                    <label for="further_information">Further information</label>
                </div>
                <div>
                    <textarea name="input_further_information" class="further_information"></textarea>
                </div>
                <input type="submit" value="Send">
            </fieldset>
        </form>
    </main>
    <footer>
        <p>
            &copy; 2024 KEA Development
        </p>
    </footer>
</body>
</html>